<div id="main" fxLayout="row" fxLayoutAlign='center center'>
  <mat-card class="mat-elevation-z5" fxFlex.xs="100%" fxFlex.gt-xs="600px">
    <form>

      <mat-card-header>
        <mat-icon mat-card-avatar color="primary">account_circle</mat-icon>
        <mat-card-title>
          Login
        </mat-card-title>
        <mat-card-subtitle>
          Enter credentials and login
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content fxLayout='column'>

        <mat-form-field appearance="outline">
          <mat-label>first name</mat-label>
          <input matInput type='text' required>
          <mat-icon color="primary" matSuffix>person</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>last name</mat-label>
          <input matInput type='text' required>
          <mat-icon color="primary" matSuffix>person</mat-icon>
        </mat-form-field>

        <mat-form-field appearance='outline'>
          <mat-label>email</mat-label>
          <input matInput type='email' required>
          <mat-icon color="primary" matSuffix>email</mat-icon>
        </mat-form-field>

        <mat-form-field appearance='outline'>
          <mat-label>password</mat-label>
          <input matInput type='password' required>
          <mat-icon color="primary" matSuffix>lock</mat-icon>
        </mat-form-field>

        <mat-form-field appearance='outline'>
          <mat-label>confirm password</mat-label>
          <input matInput type='password' required>
          <mat-icon color="primary" matSuffix>lock</mat-icon>
        </mat-form-field>

      </mat-card-content>

      <mat-card-actions align='end'>
        <button mat-raised-button color='primary'>
          Register
        </button>
      </mat-card-actions>

      <mat-card-footer style="padding: 10px;">
        Already registered? <a routerLink="/login">Register here</a>
      </mat-card-footer>
    </form>
  </mat-card>
</div>
